@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Neuton:wght@300&family=Open+Sans&family=Oswald:wght@200;400;500;600&family=PT+Sans:wght@400;700&family=Roboto&family=Roboto+Slab&display=swap');

h1{color: white;
    font-family: Oswald;}
h2{color: #F1B24A;
    font-family: Oswald;}
h3{color: #9DC88D}
p{color: #F1B24A;}
ul{color: white;
   position: relative;
    left: 100px;
    list-style-type: square;}


body
{   background-image: linear-gradient( #164A41,#4D774E );
    font-family:Montserrat;
    
        position: relative;
        max-width: 800px;
        left: 30px;
    
        
    
    }

